.terminal-container {
  background-color: #211D1B;
  color: #519975;
  font-family: cursor, monospace;;
  height: 100vh;
  padding: 20px;
  border: 2px solid #333;
  overflow-y: auto;
}

.output-area {
  margin-bottom: 10px;
}

.command-line {
  color: #519975;
}

.command-output {
  color: #9C8394;
  margin-left: 2em;
}

.input-line {
  display: flex;
  align-items: center;
}

.prompt {
  margin-right: 5px;
  color: #519975;
}

.input-field {
  background-color: transparent;
  font-family: monospace;
  border: none;
  color: #73ABAD;
  outline: none;
  flex: 1;
  width: 100%;
}

h1 {
  color: #519975;
}

pre.title {
  color: #519975;
  font-family: monospace;
}

.dir-color {
  color: blue; /* Or anfy color for directories */
  font-weight: bold;
}

.file-color {
  color: green; /* Or any color for files */
}

.path-color {
  color: #B89076;
}

